doctype html
html
	head
		meta(name='theme-color' content='#2081c3')
		meta(name='viewport' content='width=device-width, initial-scale=1 maximum-scale=1 user-scalable=no')
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
		link(rel='stylesheet' href='/css/style.css')
		link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.10/css/all.css')
		link(href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700|Roboto" rel="stylesheet")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js")
		script(src='/js/user.js')
		block head_content
	body
		block content
		block footer
			.footer
				h5 Made by 
					a(href='http://twitter.com/rdgl56') RDGL